<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include navbar.html %}
  <div class="container">
    <h4>创始人</h4>
    <h4>Ta 们的话</h4>
    <div class="section">
      <h5><b>英语</b>组 李忆茵</h5>
      <p>在橘子学院最最令人愉悦的体会便是每次一下课同学们连串地轰炸“谢谢Alice老师~”“辛苦啦!”“学到了很多呢~而且还挺有趣!”等等等等各种各样的发言，这个是每次最直面冲击我，让我幸福感爆炸的时刻。</p>
      <p>就会觉得，遇到这些孩子们，能让他们喜欢上这个课程，学到一点东西，还被喜欢着，真的是超级开心啊!!!!(o′艸`)而且和其他小老师们合作写大纲也非常的愉悦，因为很有效率!!而且都很好相处!!</p>
    </div>
    <div class="section">
      <h5><b>英语</b>组 李紫晗</h5>
      <p>我是李紫晗，主要负责编写英语组第3,4次课（第二单元）的教案。橘子学院备课录课期间我一直在美国上夏校和看大学，没有办法回来录，只能利用微薄的晚上时间以及在火车和飞机上赶教案。虽然夏校在9点就上课了，我还是争取带领同学们在八点的互动，给他们示范发音，改句子里语法错误等等，看到同学们发的谢谢还是很有成就感的。可能相比其他橘子学院的老师，我暑期做的相对少，最终没有参与生物的教学设计，甚至连课都没有录过，但我也希望我出的微薄力量能帮到橘子学院的同学们。谢谢大家给我这个机会贡献力量，也谢谢做教育这项“事业”给我带来的快乐。</p>
    </div>
    <div class="section">
      <h5><b>地理</b>组 郭宇晨 & 任梓铭 & 吴寒琦</h5>
      <p>备课还是挺辛苦的，下图是有些丑的教案quq
    互动环节非常爽 一般是通过一个个问题来引导同学一步步掌握知识点，此外还有一些拓展
    作为地理组组长，催课的事是常有的 不过组员都很给力</p>
    <p>地理课的内容是预习八上地理书的前六节课，同时拓展一些课外知识。目标：为了让同学们更好地学习地理知识，为之后正式上课时的深入学习打下基础。</p>
    <p>课堂以录课＋互动的形式展开。其中互动环节效果非常好，同学们都十分积极地回答问题。我们还发布了调查问卷，以更好地了解学生的听课需求。

    上课还是挺快乐的 当然会有一些问题，与正式老师的课会有一些差距，但是我们的课程与学校课程可以形成一个互补关系，从而帮助同学更快进步。</p>
    </div>
    <div class="section">
      <h5><b>数学</b>组 袁浩程</h5>
      <p>橘子学院的暑期数学课已经结束了。匆匆忙忙的课程准备导致了很多内容上的不足，对此我表示十分的抱歉。在暑假中我们给学生提前讲了课本知识的重难点，以及提及了一些做题的方法。虽然课程很短很仓促，我们诚挚的希望学生们在学习数学的时候从多方面思考，并尽可能地理解每个概念;学好数学，这一点是必不可少的。</p>
    </div>
    <div class="section">
      <h5><b>宣传部</b> 陶辛悦</h5>
      <p>这个暑假是很忙碌的啦w最开始是宣传部商量设计开学初的一系列用品，包括海报啊 T恤 还有一些现在还不能说出来的东西XD 然后个人还跑去负责面试咯 看到那么多出色的优秀的朋友们想要进入橘子学院真的是很开心 讲课视频都录得很用心 宣传部奇奇怪怪的小任务大家也完成的很好 看着大家为了同一个梦想与愿景拼搏的感觉十分愉悦呢!!</p><p>新学期请继续 一起努力吧!</p>
    </div>
    <div class="section">
      <h5><b>理事会</b> 戴旭升</h5>
      <p>其实暑假我几乎没讲课（如果在课堂群里插科打诨算讲课的话…）几乎把全部的精力都放在策划还有…嗯…面试上啦！真的，感受一下一天和十个新社员谈人生的快乐吧哈哈哈不过真的，和来自人大附中各年级还有北京的各个学校的同学们聊过以后，可以说，橘子学院最大的希望与最美好的未来就在你们身上。当然，从入社至今大家还都没有活干呢！所以咱们的 社员大会就在九月11-15号的这一周～届时我们会有足够多的岗位和美丽的工作机制让每一名新老社员在社团中玩耍地既充实又快乐！</p>
    </div>
    <div class="section">
      <h5><b>社长</b> 史潇洋</h5>
      <p>Love and beyond. For all.</p>
    </div>
    <h4>媒体报道</h4>
    <div class="section">
      <p><a href="http://www.sohu.com/a/138414912_503466">搜狐教育</a></p>
    </div>
  </div>
</body>
</html>