<footer class="orange page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">橘子学院</h5>
        <p class="grey-text text-lighten-4">支教 · 网课 · 互动 · 学术</p>
      </div>
      <!--
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <i>Copyright © 2018 Orange Academy <a class="orange-text text-lighten-4" href="http://t-k-233.tk">-T.K.-</a></i>
    </div>
  </div>
</footer>